html {
  font-family: Roboto Condensed;
}

body {
  margin: 0;
  padding: 0;
  z-index: -5;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container__header {
  display: flex;
  align-self: center;
  position: relative;
}

.container {
  &__header {
    background-color: rgb(22, 136, 202);
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__inner {
    flex-wrap: wrap;
    background-color: rgb(22, 136, 202);
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    width: 100%;
  }

  &__logo {
    width: 110px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 7;
  }

  &__text {
    padding: 1.5rem;
    background-color: #33b5e5;
    color: #ffffff;
    list-style-type: none;
  }

  &__main {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__innermain {
    max-width: 900px;
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    border-style: hidden;
    justify-content: space-around;
    justify-content: center;
    align-self: stretch;
  }

  &__block {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: -1rem;
  }
  &__block + &__block {
    padding-top: 2rem;
  }

  &__boxwrapper {
    display: flex;
    list-style-type: none;
    border-style: hidden;
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;
  }

  &__box {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    padding: 1.5rem;
    color: white;
    font-size: 30px;
    justify-content: center;
    height: 8rem;
    align-items: center;
    position: relative;

    &--box1 {
      background-color: rgb(253, 208, 6);
    }

    &--box1:hover {
      border: 4px solid orange;
      color: orange;
      transition: 0.5s;
    }

    &--box2 {
      background-color: rgb(245, 138, 38);
    }

    &--box2:hover {
      border: 4px solid rgb(255, 61, 2);
      color: rgb(255, 61, 2);
      transition: 0.5s;
    }

    &--box3 {
      background-color: rgb(255, 28, 28);
    }

    &--box3::before {
      content: "";
      border: 8px solid white;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    &--box3:hover {
      border: 4px solid rgb(241, 128, 128);
      color: rgb(241, 128, 128);
      transition: 0.5s;
    }
  }

  &__inneraside {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 300px;
    background-color: rgb(12, 172, 124);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: white;
  }

  &__footer {
    background-color: rgb(180, 75, 241);
    grid-row-start: 3;
    grid-row-end: span 4;
    grid-column-start: 1;
    grid-column-end: span 4;
    padding: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-size: 40px;
  }

  &__innerfooter {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    width: 100%;
  }

  &__fbox {
    padding: 1.5rem 2.5rem;
    justify-self: space-around;
    border-style: hidden;
    background-color: rgb(255, 131, 255);
    opacity: 0.5;
  }

  &__fbox:hover {
    background-color: #831799;
    transition: background-color 0.5s;
  }
}

h2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .container__innerfooter {
    display: flex;
    flex-wrap: wrap;
    justify-self: space-evenly;
  }
  .container__fbox--last {
    flex-grow: 1;
    width: 100%;
    margin-top: 1rem;
  }

  .container__fbox--12 {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .container__fbox--13 {
    margin-left: 1rem;
  }

  .container__innermain {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    width: 100%;
    justify-items: center;
    max-width: none;
  }

  .container__block {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
  }

  .container__block--i1 {
    display: flex;
    flex-wrap: wrap;
  }

  .container__boxwrapper--1 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%; //určí šířku itemu ale spolu s box-sizingem pokud zahrnuju padding
    box-sizing: border-box;
    margin-top: 1rem;
  }

  .container__main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container__inneraside {
    height: 8rem;
    width: auto;
    margin-top: 40px;
    margin: 40px;
  }
}

@media screen and (max-width: 480px) {
  .container__innerfooter {
    display: flex;
    flex-wrap: wrap;
    justify-self: space-evenly;
  }

  .container__fbox--12 {
    display: none;
  }

  .container__fbox--last {
    flex-grow: 1;
    width: 100%;
    padding: 3rem;
    color: white;
  }

  .container__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
  }

  .container__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
  }

  .container__innermain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    align-content: center;
  }

  .container__footer {
    padding: 1rem;
  }

  .container__inneraside {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 1rem;
    height: 8rem;
  }
}

nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    display: none;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 6;
  }

  .burger-menu.is-open {
    display: flex;
  }

  .burger {
    font-size: 60px;
    display: flex;
    width: 60px;
    height: 60px;
    align-self: center;
    margin-right: 40px;
  }
}

@media screen and (min-width: 800px) {
  .burger {
    display: none; 
  }
}

@media screen and (max-width: 230px) {
  .burger {
    margin-right: 0;
  }
}

@media screen and (max-width: 200px) {
  .burger {
    width: 10px;
    height: 15px;
  }
}

.burger.is-open {
  box-shadow: 0px 0px 0px 100000px rgb(180, 75, 241); 
  z-index: 5;
  opacity: 80%;
}